# Node
frontend/node_modules
frontend/dist

# Python
backend/__pycache__
backend/**/__pycache__
backend/.venv
backend/venv

# Env files
.env
backend/.env
frontend/.env

# ML artifacts
ml/models/*
ml/datasets/*
!ml/models/.gitkeep
!ml/datasets/.gitkeep

# OS
.DS_Store
